server:
  port: 8080

spring:
  # datasource:
  #   url: jdbc:h2:~/docchat;MODE=MySQL;AUTO_SERVER=TRUE
  #   driver-class-name: org.h2.Driver
  #   username: sa
  #   password:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  # jpa:
  #   hibernate:
  #     ddl-auto: update
  #   properties:
  #     hibernate:
  #       format_sql: true

  # h2:
  #   console:
  #     enabled: true
  #     path: /h2-console

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  upload-dir: uploads

python:
  base-url: http://localhost:8000
